In [42]:

data = [test_data, train_data]

for train_data in data:
    train_data.drop(columns=['PassengerId', 'Ticket', 'Cabin'], inplace=True)

    train_data['Alone'] = 1
    train_data['Alone'].loc[train_data['Parch'] + train_data['SibSp'] > 1] = 0

    train_nan_map = {'Age': train_data['Age'].mean(), 'Fare': train_data['Fare'].mean(
    ), 'Embarked': train_data['Embarked'].mode()[0]}

    train_data.fillna(value=train_nan_map, inplace=True)

    # columns_map = {'Embarked': {'C': 0, 'Q': 1, 'S': 2},
    #                'Sex': {'male': 0, 'female': 1}}
    # train_data.replace(columns_map, inplace=True)

    train_data['Title'] = train_data['Name'].str.split(
        ", ", expand=True)[1].str.split(".", expand=True)[0]
    stat_min = 10
    title_names = (train_data['Title'].value_counts() < stat_min)

    train_data['Title'] = train_data['Title'].apply(
        lambda x: 'Misc' if title_names.loc[x] == True else x)

    encoder = LabelEncoder()
    encode = ['Embarked', 'Sex']
    for col in encode:
        train_data[col] = encoder.fit_transform(train_data[col])

X_train = train_data.loc[:, train_data.columns != 'Survived']
X_train = train_data.loc[:, train_data.columns != 'Name']

y_train = train_data.loc[:, 'Survived']

X_train, X_test, y_train, y_test = train_test_split(
    X_train, y_train, test_size=0.33, random_state=10)

/home/hemang/.local/lib/python3.6/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [43]:
print(X_train.head())
print(y_train.head())
print(test_data.head())

Survived  Pclass  Sex        Age  SibSp  Parch    Fare  Embarked  Alone  \
463         0       2    1  48.000000      0      0  13.000         2      1
159         0       3    1  29.699118      8      2  69.550         2      0
47          1       3    0  29.699118      0      0   7.750         1      1
402         0       3    0  21.000000      1      0   9.825         2      1
618         1       2    0   4.000000      2      1  39.000         2      0

      Title
463      Mr
159  Master
47     Miss
402    Miss
618    Miss
463    0
159    0
47     1
402    0
618    1
Name: Survived, dtype: int64
   Pclass                                          Name  Sex   Age  SibSp  \
0       3                              Kelly, Mr. James    1  34.5      0
1       3              Wilkes, Mrs. James (Ellen Needs)    0  47.0      1
2       2                     Myles, Mr. Thomas Francis    1  62.0      0
3       3                              Wirz, Mr. Albert    1  27.0      0
4       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)    0  22.0      1

   Parch     Fare  Embarked  Alone Title
0      0   7.8292         1      1    Mr
1      0   7.0000         2      1   Mrs
2      0   9.6875         1      1    Mr
3      0   8.6625         2      1    Mr
4      1  12.2875         2      0   Mrs

In [44]:
import seaborn as sea
import matplotlib.pyplot as plt
import itertools
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn import svm, tree, neighbors, neural_network
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [45]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [46]:
train_data.head()
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [47]:
train_data.columns[train_data.isna().any()].tolist()

['Age', 'Cabin', 'Embarked']

In [48]:

data = [test_data, train_data]

for train_data in data:
    train_data.drop(columns=['PassengerId', 'Ticket', 'Cabin'], inplace=True)

    train_data['Alone'] = 1
    train_data['Alone'].loc[train_data['Parch'] + train_data['SibSp'] > 1] = 0

    train_nan_map = {'Age': train_data['Age'].mean(), 'Fare': train_data['Fare'].mean(
    ), 'Embarked': train_data['Embarked'].mode()[0]}

    train_data.fillna(value=train_nan_map, inplace=True)

    # columns_map = {'Embarked': {'C': 0, 'Q': 1, 'S': 2},
    #                'Sex': {'male': 0, 'female': 1}}
    # train_data.replace(columns_map, inplace=True)

    train_data['Title'] = train_data['Name'].str.split(
        ", ", expand=True)[1].str.split(".", expand=True)[0]
    stat_min = 10
    title_names = (train_data['Title'].value_counts() < stat_min)

    train_data['Title'] = train_data['Title'].apply(
        lambda x: 'Misc' if title_names.loc[x] == True else x)

    encoder = LabelEncoder()
    encode = ['Embarked', 'Sex', 'Title']
    for col in encode:
        train_data[col] = encoder.fit_transform(train_data[col])

X_train = train_data.loc[:, train_data.columns != 'Survived']
X_train = train_data.loc[:, train_data.columns != 'Name']

y_train = train_data.loc[:, 'Survived']

X_train, X_test, y_train, y_test = train_test_split(
    X_train, y_train, test_size=0.33, random_state=10)

/home/hemang/.local/lib/python3.6/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [49]:
print(X_train.head())
print(y_train.head())
print(test_data.head())

Survived  Pclass  Sex        Age  SibSp  Parch    Fare  Embarked  Alone  \
463         0       2    1  48.000000      0      0  13.000         2      1
159         0       3    1  29.699118      8      2  69.550         2      0
47          1       3    0  29.699118      0      0   7.750         1      1
402         0       3    0  21.000000      1      0   9.825         2      1
618         1       2    0   4.000000      2      1  39.000         2      0

     Title
463      3
159      0
47       2
402      2
618      2
463    0
159    0
47     1
402    0
618    1
Name: Survived, dtype: int64
   Pclass                                          Name  Sex   Age  SibSp  \
0       3                              Kelly, Mr. James    1  34.5      0
1       3              Wilkes, Mrs. James (Ellen Needs)    0  47.0      1
2       2                     Myles, Mr. Thomas Francis    1  62.0      0
3       3                              Wirz, Mr. Albert    1  27.0      0
4       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)    0  22.0      1

   Parch     Fare  Embarked  Alone  Title
0      0   7.8292         1      1      3
1      0   7.0000         2      1      4
2      0   9.6875         1      1      3
3      0   8.6625         2      1      3
4      1  12.2875         2      0      4